<button
    type="button"
    class="btn btn-primary"
    data-toggle="modal"
    data-target="#addMoneypoolPaymentModal"
>
    Add Payment
</button>
<div
    class="modal fade"
    id="addMoneypoolPaymentModal"
    tabindex="-1"
    aria-labelledby="addMoneypoolPaymentLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="addMoneypoolPaymentLabel">
                    Add new Payment
                </h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form
                id="addMoneypoolPaymentForm"
                onsubmit="return savePayment(event)"
            >
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">
                            Value
                        </label>
                        <div class="input-group col-sm-10">
                            <div class="input-group-prepend">
                                <div class="input-group-text">€</div>
                            </div>
                            <input
                                id="valueInput"
                                type="number"
                                class="form-control"
                                min="0.01"
                                required
                            />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button
                        type="reset"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                    >
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
