<div
    class="modal fade"
    id="addPaymentModal"
    tabindex="-1"
    aria-labelledby="addPaymentModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="addPaymentModalLabel">Add new Payment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-white">&times;</span>
                </button>
            </div>
            <form id="addPaymentModalForm" onsubmit="return savePayment(event)">
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label"> Purpose </label>
                        <div class="col-sm-10">
                            <input
                                id="purposeInput"
                                type="text"
                                class="form-control"
                                maxlength="50"
                                required
                            />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label"> Value </label>
                        <div class="input-group col-sm-6">
                            <div class="input-group-prepend">
                                <div class="input-group-text">€</div>
                            </div>
                            <input
                                id="valueInput"
                                type="number"
                                class="form-control"
                                min="0"
                                required
                            />
                        </div>
                        <div class="col-sm-4">
                            <div class="onoffswitch">
                                <input
                                    type="checkbox"
                                    name="onoffswitch"
                                    class="onoffswitch-checkbox"
                                    id="incomeSwitch"
                                    checked
                                />
                                <label class="onoffswitch-label" for="incomeSwitch">
                                    <div class="onoffswitch-inner"></div>
                                    <div class="onoffswitch-switch"></div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">Category </label>
                        <div class="col-sm-10">
                            <select
                                class="form-control selectpicker"
                                id="categorySelect"
                                data-live-search="true"
                            >
                                <%for (let i = 0; i < categories.length; i++){%>
                                <option
                                    value="<%=categories[i].name%>"
                                    data-tokens="<%=categories[i].name%>/<%=categories[i].id%>"
                                >
                                    <%=categories[i].name%>
                                </option>
                                <% }; %>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
