<div
    class="modal fade"
    id="editRecurringPaymentModal"
    tabindex="-1"
    aria-labelledby="editRecurringPaymentModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="editRecurringPaymentModalLabel">
                    Edit recurring payment
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-white">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form
                    id="editRecurringPaymentModalForm"
                    onsubmit="return saveRecurringPayment(event, 'edit')"
                >
                    <div class="d-none">
                        <input id="editPaymentId" type="text" />
                    </div>
                    <!-- Purpose Input -->
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label"> Purpose </label>
                        <div class="col-sm-10">
                            <input
                                id="editPurposeInput"
                                type="text"
                                class="form-control"
                                maxlength="50"
                                placeholder=""
                                required
                            />
                        </div>
                    </div>
                    <!-- Category Selector -->
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">Category </label>
                        <div class="col-sm-10">
                            <select
                                class="form-control selectpicker"
                                id="editCategorySelect"
                                data-live-search="true"
                                required
                            >
                                <%for (let i = 0; i < categories.length; i++){%>
                                <option
                                    value="<%=categories[i].name%>"
                                    data-tokens="<%=categories[i].name%>/<%=categories[i].id%>"
                                >
                                    <%=categories[i].name%>
                                </option>
                                <% }; %>
                            </select>
                        </div>
                    </div>
                    <!-- Value Input -->
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label"> Value </label>
                        <div class="input-group col-sm-10">
                            <div class="input-group-prepend">
                                <div class="input-group-text">€</div>
                            </div>
                            <input
                                type="number"
                                id="editValueInput"
                                class="form-control"
                                placeholder=""
                                required
                            />
                        </div>
                    </div>
                    <!-- Start Date Input -->
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label"> Start </label>
                        <div class="input-group col-sm-10">
                            <input
                                id="editStartDateInput"
                                type="date"
                                class="form-control"
                                placeholder=""
                                required
                            />
                        </div>
                    </div>
                    <!-- End Date Input -->
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label"> End </label>
                        <div class="input-group col-sm-10">
                            <input
                                id="editEndDateInput"
                                type="date"
                                class="form-control"
                                placeholder=""
                            />
                        </div>
                    </div>
                    <!-- Interval Selector -->
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">Interval</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="editIntervalSelect" required>
                                <option value="daily">daily</option>
                                <option value="weekly">weekly</option>
                                <option value="monthly">monthly</option>
                                <option value="yearly">yearly</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-danger mr-auto"
                            data-dismiss="modal"
                            onclick="removeRecurringPayment()"
                        >
                            Delete
                        </button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
