<div
    class="modal fade"
    id="removeMemberModal"
    tabindex="-1"
    aria-labelledby="removeMemberModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="removeMemberModalLabel">
                    Are you sure you want to remove this member?
                </h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true" class="text-white">&times;</span>
                </button>
            </div>
            <input id="chosenMemberId" class="d-none"></input>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-primary mr-auto"
                    data-dismiss="modal"
                >
                    Close
                </button>
                <button
                    type="button"
                    class="btn btn-danger"
                    data-dismiss="modal"
                    onclick="removeMember()"
                >
                    Remove
                </button>
            </div>
        </div>
    </div>
</div>
