<a
    class="btn btn-primary font-weight-bold mt-2"
    data-toggle="modal"
    data-target="#useInviteModal"
>
    Use a invite link
</a>
<div
    class="modal fade"
    id="useInviteModal"
    tabindex="-1"
    aria-labelledby="useInviteModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="useInviteModalLabel">
                    Use invite link
                </h5>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true" class="text-white">&times;</span>
                </button>
            </div>
            <form id="useInviteModalForm" onsubmit="return useInvite(event)">
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="" class="col-sm-3 col-form-label">
                            Invite link
                        </label>
                        <div class="col-sm-9">
                            <input
                                id="inviteLinkInput"
                                type="text"
                                class="form-control"
                                required
                            />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Use</button>
                </div>
            </form>
        </div>
    </div>
</div>
