<% if(isMoneypoolChooser == true){ %>

<div class="container" style="width: 60%">
    <div id="moneypoolList" class="list-group pt-4"></div>
</div>

<% } else{ %>
<div class="mx-auto" style="width: 80%"></div>
<% } %>
