<% if(isMoneypoolChooser == true){ %>

<div class="container" style="width: 60%">
    <%-include('../modals/addMoneypoolModal.html.ejs');-%>

    <div id="moneypoolList" class="list-group pt-4"></div>
</div>

<% } else{ %>
<div class="mx-auto" style="width: 80%">
    <div class="pt-4 mx-auto">
        <canvas id="neededMoneyChart"></canvas>
        <canvas id="memberAmountChart"></canvas>
    </div>
</div>
<% } %>
