<%-include('../modals/addPaymentModal.html.ejs');-%>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <form class="mb-0 form-inline">
                <label class="mx-2 mt-2 col-form-label" for="startDateInput">Start</label>
                <!-- startDateInput - defaultValue: first day of the month -->
                <input
                    type="date"
                    class="form-control mt-2"
                    id="startDateInput"
                    value="<%=new Date(new Date().setDate(new Date().getMonth() - 1))
                .toISOString().slice(0,10)%>"
                />
                <label class="mx-2 mt-2 col-form-label" for="endDateInput">End</label>
                <!-- endDateInput - defaultValue: today -->
                <input
                    type="date"
                    class="form-control mt-2"
                    id="endDateInput"
                    value="<%=new Date().toISOString().slice(0,10)%>"
                />
                <button type="button" class="ml-3 mt-2 btn btn-primary" onclick="getPayments()">
                    Refresh
                </button>
            </form>
        </div>
        <div class="col-md-3 mt-2 text-right">
            <button
                type="button"
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#addPaymentModal"
            >
                Add Payment
            </button>
        </div>
    </div>
</div>
<div class="pt-4 mx-auto">
    <canvas id="paymentHistoryChart"></canvas>
</div>

<div class="pt-4">
    <label>All payments</label>
    <div class="table-responsive-lg">
        <table id="paymentsTable" class="table table-dark bg-dark">
            <thead>
                <tr>
                    <th scope="col" onclick="sortTable(0, false, 'paymentsTable')">Purpose</th>
                    <th scope="col" onclick="sortTable(1, false,'paymentsTable')">Category</th>
                    <th scope="col" onclick="sortTable(2, true, 'paymentsTable')">Value</th>
                    <th scope="col" onclick="sortTable(3, false,'paymentsTable')">recurring</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!-- need moment.js for chart.js usage with time x axis -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
