<div class="mx-auto" style="width: 80%">
    <a href="/dashboard?hid=<%=household.id%>" class="btn btn-primary"
        >Go Back</a
    >

    <%-include('../modals/addRecurringPaymentModal.html.ejs');-%>

    <div class="pt-4">
        <label>All recurring payments</label>
        <table
            id="recurringPaymentsTable"
            class="table table-hover table-dark bg-dark"
        >
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Purpose</th>
                    <th scope="col">StartDate</th>
                    <th scope="col">EndDate</th>
                    <th scope="col">Interval</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<%-include('../modals/editRecurringPaymentModal.html.ejs');-%>
