<%-include('../modals/addRecurringPaymentModal.html.ejs');-%>
<div class="card bg-light text-white mt-4">
    <h4 class="card-header">
        <i class="bi-arrow-left-right text-primary"></i>
        Pre calculated payments
    </h4>
    <h5 class="card-body m-0">
        Here you can see how much money you have as income/expense added up.
    </h5>

    <div class="card-footer py-0">
        <div class="table-responsive-lg">
            <table id="calculatedTable" class="table table-borderless table-dark bg-light">
                <thead>
                    <tr>
                        <th scope="col">per Day</th>
                        <th scope="col">per Week</th>
                        <th scope="col">per Month</th>
                        <th scope="col">per Year</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="pt-4">
    <label>All recurring payments</label>
    <div class="table-responsive-lg">
        <table id="recurringPaymentsTable" class="table table-hover table-dark bg-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Purpose</th>
                    <th scope="col">StartDate</th>
                    <th scope="col">EndDate</th>
                    <th scope="col">Interval</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<%-include('../modals/editRecurringPaymentModal.html.ejs');-%>
