<%-include('../modals/addRecurringPaymentModal.html.ejs');-%>

<div class="pt-4">
    <label>recurring Payments calculated</label>
    <div class="table-responsive-lg">
        <table
            id="calculatedTable"
            class="table table-hover table-dark bg-dark"
        >
            <thead>
                <tr>
                    <th scope="col">per Day</th>
                    <th scope="col">per Week</th>
                    <th scope="col">per Month</th>
                    <th scope="col">per Quarter</th>
                    <th scope="col">per Year</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="pt-4">
    <label>All recurring payments</label>
    <div class="table-responsive-lg">
        <table
            id="recurringPaymentsTable"
            class="table table-hover table-dark bg-dark"
        >
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Purpose</th>
                    <th scope="col">StartDate</th>
                    <th scope="col">EndDate</th>
                    <th scope="col">Interval</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<%-include('../modals/editRecurringPaymentModal.html.ejs');-%>
