<div class="text-center container" style="max-width: 30%">
    <h1 class="h3 mb-3 font-weight-normal text-primary">Register</h1>
    <form id="signupForm" onsubmit="return registerPressed(event)">
        <label for="firstName" class="sr-only">First name</label>
        <input
            type="text"
            id="firstName"
            class="form-control"
            placeholder="First name"
            required
        />

        <label for="lastName" class="sr-only">Last name</label>
        <input
            type="text"
            id="lastName"
            class="form-control"
            placeholder="Last name"
            required
        />

        <label for="email" class="sr-only">email</label>
        <input
            type="email"
            id="email"
            class="form-control"
            placeholder="Email"
            required
            autofocus
        />

        <label for="password" class="sr-only">Password</label>
        <input
            type="password"
            id="password"
            class="form-control"
            placeholder="Password"
            required
        />

        <label for="link" class="sr-only">invite link</label>
        <input
            type="text"
            id="link"
            class="form-control mt-4"
            placeholder="optional invite link"
        />

        <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">
            Sign Up
        </button>
    </form>
</div>
