<form
    id="signin-form"
    action="<%-self.urlFor('api/users', 'signin', null, 'POST')%>"
    method="POST"
>
    <input
        class="input"
        id="email"
        name="email"
        value=""
        type="email"
        placeholder="E-Mail Address"
    />

    <input
        class="input"
        id="password"
        name="password"
        type="password"
        value=""
        placeholder="Password"
    />

    <button class="btn" onclick="signinPressed(this); return false;">
        Sign In
    </button>
</form>
