<div class="container">
    <div class="list-group">
        <% todos.forEach(todo => { %>
        <a href="#" class="list-group-item list-group-item-action active">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><%=todo.task%></h5>
                <small><%=todo.value%></small>
            </div>
            <p class="mb-1"><%=todo.done%></p>
        </a>
        <% }); %>
    </div>
</div>
